<div class="about">
  <div class="tophead"></div>
  <h1>About Aria Hemphill</h1>
  <h3>Origin</h3>
  <p class="about_text">
    Aria was born in Guatalajara, Mexico. She is a dual citizen and was raised in southern Oregon in the foothills of the Cascades. She is an avid ultra-trail runner. She has completed several runs longer than marathon length. This includes several 50K's, 100K's, and even a 100 miler. Her goal is to qualify for the Ultra-Trail du Mont-Blanc 100 mile trail race.
  </p>
  <img class="about_aria" src="./images/nyc.jpg"/>
  <img class="about_aria" src="./images/IMG_1217.JPG"/>
  <br><br>
  <p class="about_text">
    Her mother, Kristen Horton, is an artist, home designer, bird enthusiast, and fellow traveler.
  </p>
  <img class="about_img" src="./images/chile.jpg"/>
  <br><br>
  <p class="about_text">
    Her father, Ralph Hemphill, is an eclectic Mexican sailor and baker who resides in the bay of Salulitas, Mexico nearby tourist destination Puerta Vallarta, where Aria has more family.
  </p>
  <img class="about_img" src="./images/IMG_1527.JPG" />
  <br><br>
  <p class="about_text">
    Her boyfriend, Nick Marucci, is a programmer, engineer, and avid rock climber.
  </p>
  <img class="about_img" src="./images/IMG_1062.JPG" />
  <br><br>
  <p class="about_text">
    And the rest of her family is scattered among the west coast from Oregon to Mexico. She often travels far and low with her primos to go surfing.
  </p>
  <img class="about_img" src="./images/familia.jpg" />
  <a ui-sref="blogs"><h3 class="about_link">Now check out her explorations</h3></a>
</div>
