<div class="home">
  <div class="banner flex">
    <h1>Welcome to Aria Hemphill's Travel Blog !</h1>
  </div>
  <div class="hometext flex">
    <h2>Follow Aria in her travels across the globe</h2>
  </div>
  <div class="homeabout flex">
    <a ui-sref="about"><h1>About Aria</h1></a>
  </div>
  <div class="hometext flex">
    <h2>See blog posts, images, and videos of her adventures</h2>
  </div>
  <div class="homeblog flex">
    <a ui-sref="blogs"><h1>Blog Posts</h1></a>
  </div>
  <div class="hometext flex">
    <h2>See the map and a tally of all of Aria's adventures</h2>
  </div>
  <div class="homemap flex">
    <a ui-sref="map"><h1>See Map</h1></a>
  </div>
</div>
