<div class="map">
  <div class="tophead"></div>
  <h1>Aria's Map of Places</h1>
  <div id="map"></div>
  <div class="countSection">
    <h2 style="color: blue">Total Countries Visited - {{countryCount}}</h2>
    <svg width="600" height="25">
      <rect width="{{countryWidth}}" height="25" fill="blue"/>
    </svg>
    <br><br>
    <h2 style="color: red">Total States Visited - {{stateCount}}</h2>
    <svg width="600" height="25">
      <rect width="{{stateWidth}}" height="25" fill="red"/>
    </svg>
    <br><br>
    <h2 style="color: green">Total Cities Visited - {{cityCount}}</h2>
    <svg width="600" height="25">
      <rect width="{{cityWidth}}" height="25" fill="green"/>
    </svg>
    <br><br>
  </div>
</div>
