<div class="map">
  <div class="tophead"></div>
  <h1>Aria's Map of Places</h1>
  <div id="map"></div>
  <br>
  <div class="countSection">
    <h2 style="color: blue">Total Countries Visited - {{countryCount}}</h2>
    <div class="countBar" style="background-color: green; width: {{countryWidth * 100}}%"></div>
    <br><br>
    <h2 style="color: red">Total States Visited - {{stateCount}}</h2>
    <div class="countBar" style="background-color: blue; width: {{stateWidth * 100}}%"></div>
    <br><br>
    <h2 style="color: green">Total Cities Visited - {{cityCount}}</h2>
    <div class="countBar" style="background-color: red; width: {{cityWidth * 100}}%"></div>
    <br><br>
  </div>
</div>
