body {
  margin: 0;
  width: 100vw;
  font-family: "Oswald";
}

header {
  height:100px;
  width: 100vw;
  background-color: rgba(64, 0, 199, 0.71);
  color: #fff;
  text-align: center;
}

footer {
  height:max-content;
  width: 100vw;
  background-color: rgba(64, 0, 199, 0.71);
  color: #fff;
  text-align: center;
  padding: 40px 0 40px 0;
}

header {
  position: absolute;
  top: 0;
}

h1, h2, h5 {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 40px;
  text-align: center;
}

h5 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

main {
  width: 100vw;
  min-height: 80vh;
}

input, button {
  font-family: "Oswald";
  font-size: 15px;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

input, textarea {
  width: 300px;
}

textarea {
  height: 200px;
  margin: 10px;
}

/*index styles*/

.title {
  /*padding-top: 20px;*/
}

.socials a {
  text-decoration: none;
  margin: 10px;
  color: #fff;
}

.socials a:hover {
  color: rgba(94, 115, 255, 1);
  cursor: pointer;
}

.logo {
  height: 60px;
  position: absolute;
  top:20px;
  left:20px;
}

.logo:hover {
  cursor: pointer;
}

.hamburger, .hamburger2 {
  height: 100px;
  position: absolute;
  top:26px;
  right:26px;
}

.hamburger:hover {
  color: rgba(94, 115, 255, 1);
  cursor: pointer;
}

.hamburger2:hover {
  color: #000;
  cursor: pointer;
}

.menu {
  height: 100vh;
  width: 400px;
  position: fixed;
  right: 0;
  top:0;
  background-color: rgba(94, 115, 255, 0.65);
  z-index: 10;
}

.menuselect, .menuselect2 {
  height: 100px;
  width: 100%;
  border: 1px solid #8d8d8d;
  text-align: center;
  background-color: rgba(94, 115, 255, 0.65);
}

.menuselect:hover {
  background-color: rgba(94, 115, 255, 1);
  cursor: pointer;
  color: #000;
}

.menuclose {
  background-color: gray;
}

.menuclose:hover {
  background-color: #fff;
  cursor: pointer;
  color: rgba(94, 115, 255, 1);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}

.loginmodal, .loginfailuremodal {
  height: max-content;
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid black;
  background-color: rgba(241, 85, 18, 0.87);
  z-index: 10;
  padding: 20px;
}

/*home styles*/

.banner, .homeabout, .homeblog, .homemap {
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.homeabout, .homeblog, .homemap {
  max-width: 70vw;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 400px;
}

.banner a, .homeabout a, .homeblog a, .homemap a {
  color: #000;
  text-shadow: 0.5px 0.5px #fff;
}

.banner a:hover, .homeabout a:hover, .homeblog a:hover, .homemap a:hover {
  color: rgba(94, 115, 255, 1);
  cursor: pointer;
}

.banner {
  background-image: url("images/IMG_1032.JPG");
  height: 900px;
}

.banner h1 {
  margin-top: 100px;
  text-shadow: 0.5px 0.5px #000;
  color: #fff;
  opacity: 0.90;
  font-size: 60px;
}

.homeabout {
  background-image: url("images/familia.jpg");
  background-position: 50% 40%;
}

.midbanner, .hometext {
  height: 100px;
  width: 100vw;
  text-align: center;
  background-color: rgba(38, 38, 38, 0.9);
  color: #fff;
}

.homeblog {
  background-image: url("images/IMG_1094.JPG");
}

.homemap {
  background-image: url("images/map.png");
}

/*blog styles*/

.tophead {
  height: 100px;
}

.blogItem {
  width: 400px;
  height: max-content;
  padding: 20px;
  border: 1px solid rgba(94, 115, 255, 1);
  margin: 20px;
  text-align: center;
}

.blogItem img {
  height: 400px;
  max-width: 80%;
}

.blogdetail {
  width: 90%;
  margin: auto;
}

/*admin styles*/

.blogupdate {
  text-align: center;
}

.adminfail {
  text-align: center;
}

.adminfail a{
  width: 100vw;
  height: max-content;
}

.adminfail a img {
  width: 100%;
}

.about {
  text-align: center;
}

.about_img {
  width: 60vw;
}

.about_aria {
  max-width: 30%;
}

.about_aria_container {
  width: 100vw;
  margin: auto;
  display: flex;
  /*flex-direction: row;*/
  justify-content: center;
  /*align-content: space-around;*/
  align-items: center;
  /*flex-wrap: wrap;*/
}

.about_link {
  background: #8d8d8d;
  color: #fff;
  padding: 10px;
  width: max-content;
  margin: 20px auto;
}

.about_link:hover {
  color: rgba(94, 115, 255, 1);
  cursor: pointer;
}

.about_text {
  padding: 20px;
  background-color: #8d8d8d;
  color: #fff;
  width: 60vw;
  margin: auto;
}

#map {
  width: 60vw;
  height: 500px;
  margin: auto;
}

.countSection {
  text-align: left;
  width: 60vw;
  height: max-content;
  margin: auto;
}

.countBar {
  height: 40px;
}

@media (max-width: 900px){
  .title {
    display: none;
  }

}

@media (max-width: 600px){
      #map {
        width: 100vw;
        height: 50vh;
      }

      .countSection {
        width: 100vw;
      }
}

@media (max-width: 500px){
    .banner {
      background-position: 0px;
    }
}

@media (max-device-width: 500px){

  .logo {
    height: 120px;
    top:40px;
    left:40px;
  }

  .hamburger, .hamburger2 {
    top:50px;
    right:50px;
  }

  header .fa-3x {
    font-size: 100px;
  }

  header, .menuselect2, .tophead {
    height: 200px;
  }

  h1, h2, h3, h4, h5, h6, p, button, input, .about h1 {
    font-size: 300%;
  }

  .blogItem {
    width: 100vw;
  }

  .title {
    display: none;
  }

  .menu {
    width: 100vw;
    font-size: 60px;
    left:0;
  }

  .menuselect {
    height: max-content;
    padding: 40px 0 40px 0;
  }

  .menuselect2 {
    height: 200px;
  }

  .hometext {
    height: max-content;
    padding: 40px 0 40px 0;
  }

  footer {
    height: max-content;
    padding: 40px 0 40px 0;
  }

  .banner a, .homeabout a, .homeblog a, .homemap a {
    color: rgba(94, 115, 255, 1);
    text-shadow: 0.5px 0.5px #fff;
  }

  .about_text, .about_link {
    width: 100vw;
    padding: 40px 0 40px 0;
  }

  .about_img {
    width: 100vw;
  }

  .about_aria {
    max-width: 50%;
    width: 50%;
  }

  .banner {
    background-position: 0px;
  }

  .countSection {
    width: 100vw;
  }

  #map {
    width: 100vw;
    height: 30vh;
  }
}
