body {
  margin: 0;
  width: 100vw;
  font-family: "Oswald";
}

header, footer {
  height:100px;
  width: 100vw;
  background-color: rgba(64, 0, 199, 0.71);
  color: #fff;
  text-align: center;
}

header {
  position: absolute;
  top: 0;
}

footer {
  height: 150px;
}

h1, h2, h5 {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 40px;
}

h5 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

main {
  width: 100vw;
  min-height: 80vh;
}

.title {
  padding-top: 20px;
}

.socials a {
  text-decoration: none;
  margin: 10px;
  color: #fff;
}

.socials a:hover {
  color: rgba(94, 115, 255, 1);
  cursor: pointer;
}

.logo {
  height: 100px;
  position: absolute;
  top:0;
  left:0;
}

.logo:hover {
  cursor: pointer;
}

.hamburger {
  height: 100px;
  position: absolute;
  top:26px;
  right:26px;
}

.hamburger:hover {
  color: rgba(94, 115, 255, 1);
  cursor: pointer;
}

.menu {
  height: 100vh;
  width: 400px;
  position: fixed;
  right: 0;
  top:0;
  background-color: rgba(94, 115, 255, 0.65);
  z-index: 10;
}

.menuselect {
  height: 100px;
  width: 100%;
  border: 1px solid #8d8d8d;
  text-align: center;
  background-color: rgba(94, 115, 255, 0.65);
}

.menuselect:hover {
  background-color: rgba(94, 115, 255, 1);
  cursor: pointer;
  color: #000;
}

.topselect {
  margin-top: 100px;
}

.menuclose {
  background-color: gray;
}

.menuclose:hover {
  background-color: #fff;
  cursor: pointer;
  color: rgba(94, 115, 255, 1);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tophome, .midhome, .bottomhome {
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.tophome a, .midhome a, .bottomhome a {
  color: #000;
}

.tophome a:hover, .midhome a:hover, .bottomhome a:hover {
  color: rgba(94, 115, 255, 1);
  cursor: pointer;
}

.tophome {
  background-image: url("images/IMG_1798.JPG");
  height: 700px;
}

.tophome h1 {
  margin-top: 150px;
  color: #fff;
  opacity: 0.75;
  font-size: 50px;
}

.midhome {
  background-image: url("images/IMG_1398.JPG");
  height: 400px;
}

.midtophome, .midbottomhome {
  height: 100px;
  width: 100vw;
  text-align: center;
  background-color: rgba(38, 38, 38, 0.9);
  color: #fff;
}

.bottomhome {
  background-image: url("images/IMG_1094.JPG");
  height: 400px;
}

footer h5 {
  padding-top: 20px;
}

@media only screen and (max-width: 900px){
  .title {
    display: none;
  }
}
